span{

    background-color: rgb(243, 223, 238); /* Green */
    border: none;
    color: rgb(17, 12, 16);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    right:50% ;
    transform: translate(-50%, -50%);
    
    height: 9.9rem;
    width: 60rem;
 
}
a{
    top: 50%;
    left: 50%;
    right:50% ;
    margin-top: 1%;
}
button {
    top: 50%;
    margin-top: 1%;
    left: 30%;
    margin-left: 3%;
    

}
a{
    top: 50%;
    left: 50%;
    right:50% ;
    margin-top: 1%;

    top: 50%;
    margin-top: 1%;
    left: 30%;
    margin-left: 3%;
    
}

