span{

    background-color: rgb(211, 215, 220); /* Green */
    border: none;
    color: rgb(17, 12, 16);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    right:50% ;
    transform: translate(-50%, -50%);
    
    height: 9.9rem;
    width: 60rem;
}
h1{
    color:rgb(7, 70, 227);
}
label{
    color: black;
}
a{
    top: 50%;
    left: 50%;
    right:50% ;
    margin-top: 1%;

    top: 50%;
    margin-top: 1%;
    left: 30%;
    margin-left: 3%;
    
}