div{

    background-color: rgb(192, 229, 250); /* Green */
    border: none;
    color: rgb(17, 12, 16);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    right:50% ;
    transform: translate(-50%, -50%);
    
    height: 19.9rem;
    width: 60rem;

}