<div class="background-image">
    <span class="kk">
        
   <table>
    <p>login</p>
    <tr>
        <td>    <label>Nom Abonné:</label></td><td>
            <input type="text" ></td>
    </tr>
    <tr>
        <td>
            <label>N°Abonné:</label></td><td>
    <input type="text" [(ngModel)]="valeur" (input)="verifierCondition()" >
        </td>
    </tr>
   </table>

<div class="button">
<a href="#" routerLink="/inter">
    <button  class="btn btn-danger" [disabled]="!conditionVerifiee">login</button>
</a></div>
</span>

</div>
